apiVersion: apps/v1
kind: Deployment
metadata:
  name: emailservice
  labels:
    app.kubernetes.io/name: emailservice
    app.kubernetes.io/part-of: online-boutique
    app.kubernetes.io/component: email
spec:
  replicas: 1
  selector:
    matchLabels:
      app: emailservice
  template:
    metadata:
      labels:
        app: emailservice
        app.kubernetes.io/name: emailservice
        app.kubernetes.io/part-of: online-boutique
    spec:
      serviceAccountName: default
      securityContext:
        fsGroup: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        runAsUser: 1000
      containers:
        - name: emailservice
          image: us-central1-docker.pkg.dev/google-samples/microservices-demo/emailservice:v0.10.1
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
            - name: DISABLE_PROFILER
              value: "1"
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
          readinessProbe:
            grpc:
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            grpc:
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
