apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configurations:
  - transformer.yaml

namespace: dorkomen

commonLabels:
  owner: dorkomen

resources:
  - namespace.yaml
  - gitrepository.yaml
  - helmrelease.yaml
  # Client-specific apps (add your own HelmReleases here)
  - apps

configMapGenerator:
  - name: common
    behavior: create
    literals:
      - values.yaml=
  - name: environment
    behavior: create
    literals:
      - values.yaml=

# Flux combines secrets and configmaps in `valuesFrom`. Kustomize
# cannot distinguish between them when applying suffixes. Therefore,
# the secrets must have different names than the configmaps.
# '-dk' suffix chosen to differentiate from configmaps
secretGenerator:
  - name: common-dk
    behavior: create
    literals:
      - values.yaml=
  - name: environment-dk
    behavior: create
    literals:
      - values.yaml=
