apiVersion: v1
kind: Service
metadata:
  name: paymentservice
  labels:
    app.kubernetes.io/name: paymentservice
    app.kubernetes.io/part-of: online-boutique
spec:
  type: ClusterIP
  selector:
    app: paymentservice
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
