apiVersion: apps/v1
kind: Deployment
metadata:
  name: currencyservice
  labels:
    app.kubernetes.io/name: currencyservice
    app.kubernetes.io/part-of: online-boutique
    app.kubernetes.io/component: currency
spec:
  replicas: 1
  selector:
    matchLabels:
      app: currencyservice
  template:
    metadata:
      annotations:
        instrumentation.opentelemetry.io/inject-nodejs: "opentelemetry-operator-system/elastic-apm"
      labels:
        app: currencyservice
        app.kubernetes.io/name: currencyservice
        app.kubernetes.io/part-of: online-boutique
    spec:
      serviceAccountName: default
      securityContext:
        fsGroup: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        runAsUser: 1000
      containers:
        - name: currencyservice
          image: us-central1-docker.pkg.dev/google-samples/microservices-demo/currencyservice:v0.10.1
          ports:
            - containerPort: 7000
          env:
            - name: PORT
              value: "7000"
            - name: DISABLE_PROFILER
              value: "1"
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
          readinessProbe:
            grpc:
              port: 7000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            grpc:
              port: 7000
            initialDelaySeconds: 5
            periodSeconds: 10
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
