apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - gitrepository.yaml
  - helmrelease.yaml
  - certificate.yaml
  - ingressroute.yaml
  - http-redirect.yaml
