apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  # Add prod-specific apps here:
  # - apps/prod-only-app

# Patch the GitRepository to use a specific version tag
patches:
  - target:
      kind: GitRepository
      name: dorkomen
    patch: |
      - op: replace
        path: /spec/ref
        value:
          tag: v0.1.0
  # Patch whoami app for prod domain
  - target:
      kind: IngressRoute
      name: whoami
      namespace: whoami
    patch: |
      - op: replace
        path: /spec/routes/0/match
        value: Host(`whoami.dorkomen.example.com`)
  - target:
      kind: IngressRoute
      name: whoami-http-redirect
      namespace: whoami
    patch: |
      - op: replace
        path: /spec/routes/0/match
        value: Host(`whoami.dorkomen.example.com`)
  - target:
      kind: Certificate
      name: whoami-tls
      namespace: whoami
    patch: |
      - op: replace
        path: /spec/issuerRef/name
        value: letsencrypt-prod
      - op: replace
        path: /spec/commonName
        value: whoami.dorkomen.example.com
      - op: replace
        path: /spec/dnsNames
        value:
          - whoami.dorkomen.example.com

configMapGenerator:
  - name: environment
    behavior: replace
    files:
      - values.yaml=configmap-values.yaml

secretGenerator:
  - name: environment-dk
    behavior: replace
    files:
      - values.yaml=secret-values.yaml
