apiVersion: v1
kind: Service
metadata:
  name: shippingservice
  labels:
    app.kubernetes.io/name: shippingservice
    app.kubernetes.io/part-of: online-boutique
spec:
  type: ClusterIP
  selector:
    app: shippingservice
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
