apiVersion: apps/v1
kind: Deployment
metadata:
  name: adservice
  labels:
    app.kubernetes.io/name: adservice
    app.kubernetes.io/part-of: online-boutique
    app.kubernetes.io/component: ads
spec:
  replicas: 1
  selector:
    matchLabels:
      app: adservice
  template:
    metadata:
      labels:
        app: adservice
        app.kubernetes.io/name: adservice
        app.kubernetes.io/part-of: online-boutique
    spec:
      serviceAccountName: default
      securityContext:
        fsGroup: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        runAsUser: 1000
      containers:
        - name: adservice
          image: us-central1-docker.pkg.dev/google-samples/microservices-demo/adservice:v0.10.1
          ports:
            - containerPort: 9555
          env:
            - name: PORT
              value: "9555"
          resources:
            requests:
              cpu: 200m
              memory: 180Mi
            limits:
              cpu: 300m
              memory: 300Mi
          readinessProbe:
            grpc:
              port: 9555
            initialDelaySeconds: 20
            periodSeconds: 15
          livenessProbe:
            grpc:
              port: 9555
            initialDelaySeconds: 20
            periodSeconds: 15
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
