apiVersion: apps/v1
kind: Deployment
metadata:
  name: cartservice
  labels:
    app.kubernetes.io/name: cartservice
    app.kubernetes.io/part-of: online-boutique
    app.kubernetes.io/component: cart
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cartservice
  template:
    metadata:
      labels:
        app: cartservice
        app.kubernetes.io/name: cartservice
        app.kubernetes.io/part-of: online-boutique
    spec:
      serviceAccountName: default
      securityContext:
        fsGroup: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        runAsUser: 1000
      containers:
        - name: cartservice
          image: us-central1-docker.pkg.dev/google-samples/microservices-demo/cartservice:v0.10.1
          ports:
            - containerPort: 7070
          env:
            - name: REDIS_ADDR
              value: "redis-cart:6379"
          resources:
            requests:
              cpu: 200m
              memory: 64Mi
            limits:
              cpu: 300m
              memory: 128Mi
          readinessProbe:
            grpc:
              port: 7070
            initialDelaySeconds: 15
            periodSeconds: 10
          livenessProbe:
            grpc:
              port: 7070
            initialDelaySeconds: 15
            periodSeconds: 10
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
