apiVersion: v1
kind: Service
metadata:
  name: productcatalogservice
  labels:
    app.kubernetes.io/name: productcatalogservice
    app.kubernetes.io/part-of: online-boutique
spec:
  type: ClusterIP
  selector:
    app: productcatalogservice
  ports:
    - name: grpc
      port: 3550
      targetPort: 3550
