apiVersion: v1
kind: Service
metadata:
  name: recommendationservice
  labels:
    app.kubernetes.io/name: recommendationservice
    app.kubernetes.io/part-of: online-boutique
spec:
  type: ClusterIP
  selector:
    app: recommendationservice
  ports:
    - name: grpc
      port: 8080
      targetPort: 8080
